<div class="container">
<div class="row">
<div class="col-md-3">

<%= render 'books/list', user: @book.user, book: @newbook%>
</div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table class="table">
<tbody>
  <tr>
  <td>
 <%= link_to user_path(@user.id) do %>
 <%= image_tag @book.user.get_profile_image(100,100) %>
  <%= @book.user.name %>
 <% end %>
 <br>

 </td>
  <td><%= link_to book_path(@book.id) do %>
    <%= @book.title %>

 </td>
<td><%= @book.body %></td>
<% end %>

<td>
<% if @book.user == current_user %>
<a class="btn btn-sm btn-success" href="<%= edit_book_path(@book) %>">Edit</a>
<% end %>
</td>

<td>
  <% if @book.user == current_user %>
 <a class="btn btn-sm btn-danger book_path(@book)" rel="nofollow" data-method="delete" href="<%= book_path(@book) %>">Destroy</a>
<% end %>
</td>



</tr>
</tbody>
</table>
</div>
</div>
</div>